################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CETRO/Cetro.Tools/obj
/src/CETRO/CetroApp/bin/Debug/net6.0
/src/CETRO/CetroApp/obj
/src/CETRO/.vs/CETRO
/src/Centro.Api/obj
/src/CetroApp/bin/Debug/net6.0
/src/CetroApp/obj
/src/Cetro.Tools/obj
/.vs
/src/.vs
/.gitignore
/src/Cetro.Client/obj
/src/Cetro.Mobil/obj
/src/Cetro.App/obj
/src/Centro.Api/bin/Debug/net6.0
/src/Cetro.App/bin/Debug/net6.0
/src/Cetro.Client/bin/Debug/netstandard2.1
/src/Cetro.Component/bin/Debug/net6.0
/src/Cetro.Component/obj
/src/Cetro.Mobil/bin/Debug
/src/Cetro.Tools/bin/Debug/netstandard2.1
